html {
    background-color: #fff8e1;
    background-size: 600% 600%;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    animation: TackyGradient 12s ease infinite;
    text-align: center;
  }
  html * {
     font-family: sans-serif !important;
  }
  
  .card {
    text-align: center;
    border: rgb(11, 22, 170) solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 4px 4px 4px 4px #026914;
    border-radius: 15px 50px;
  }

  .card-back {
    text-align: center;
    border: rgb(11, 22, 170) solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 4px 4px 4px 4px #026914;
    border-radius: 50px 15px;
  }

  .character-avatar {
    justify-self: center;
    height: 18rem;
    width: 18rem;
  }
  
  button {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgb(40, 160, 230);
    color: rgb(40, 160, 230);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  
  .hover {
    text-align: center;
    border: rgb(11, 22, 170) solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 6px 6px 6px 6px #026914;
    border-radius: 15px 50px;
  }
  
  .btn:hover {
    background-color: rgb(230, 240, 250);
  }
  
  input[type="text"] {
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(220, 225, 230);
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
  }
  
  @keyframes TackyGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }