
html {
    background-color: #d5c8ab;
    background-size: 600% 600%;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    animation: TackyGradient 12s ease infinite;
    text-align: center;
  }
  /* html * {
     font-family: sans-serif !important;
  } */

  h1 {
    font-family: 'IM Fell English SC'; font-size: 45px;
  }

  h2 {
    font-family: 'IM Fell English SC'; font-size: 35px;
  }

  h4 {
    font-family: 'IM Fell Great Primer'; font-size: 20px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .card-text {
    font-family: 'IM Fell Great Primer';
    font-size: 15px;;
  }

  body {
    font-family: 'IM Fell Great Primer';
    padding: 0px 10px;
    margin-left: 160px;
  }

  #character-cards {
    padding-left: 10.0%;
    padding-right: 10.0%;
    align-self: center;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8ba6a4;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #37190f;
    display: block;
  }

  .sidenav a:hover {
    color: #c73b0e;
  }
  
  .card {
    text-align: center;
    border: #c73b0e solid 3px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 4px 4px #c73b0e;
    border-radius: 15px 50px;
  }

  .edit-character {
    text-align: center;
    border: #c73b0e solid 3px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 4px 4px #c73b0e;
    border-radius: 50px 15px;
  }

  .card:hover {
    text-align: center;
    border: #253961 solid 3px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 4px 4px #253961;
    border-radius: 15px 50px;
  }

  .card-back {
    text-align: center;
    border: #c73b0e solid 3px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 4px 4px #c73b0e;
    border-radius: 50px 15px;
  }

  .character-avatar {
    justify-self: center;
    height: 16rem;
    width: 16rem;
  }
  
  button {
    background-color: #bf7532;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #905725;
    padding: 10px 20px;
    margin: 1rem;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'IM Fell English SC';
  }
  
  .hover {
    text-align: center;
    border: rgb(11, 22, 170) solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 6px 6px 6px 6px #026914;
    border-radius: 15px 50px;
  }
  
  button:hover {
    background-color: #f7cf65;
  }

  form {
    font-family: 'IM Fell English SC'; font-size: 20px;
  }
  
  input[type="text"] {
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(220, 225, 230);
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
  }
  
  @keyframes TackyGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }